.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #e43d12;
  border-radius: 1rem;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.card img {
  align-self: center;
  width: 90%;
  border-radius: 1rem;
}

.skillContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.techSkill {
  color: #ebe9e1;
  background-color: #e43d12;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
}
