.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.125rem 20rem;
}

.contact h2,
h3 {
  margin-bottom: 1rem;
}

.contactIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.1rem;
  gap: 2rem;
}

a {
  transition: transform 0.2s;
}

a:hover {
  fill: #efb11d;
  transform: scale(1.5);
}
