.projects {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.cardsList {
  display: flex;
  gap: 3rem;
}
